.Filtragem{
    display: flex;
    width: 100%;
    height: 8vh;
    font-family: 'Inter', sans-serif;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.menuLocalContainer{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.botaoMenu{
    border: none;
    background-color: transparent;
}

.nomeDaCidade{
    border: .7px solid black;
    border-radius: 15px;
    padding: 13px 20px;
    text-transform: uppercase;
}

.stackSearch{
    margin-right: 1vw;
}

.inputGroupSearch{
    margin-right: 4vw;
}

.sideBar{
    background-color: #FFFF;
    position: absolute;
    left: 0;
    top: 8vh;
    height: 92vh;
    width: 20vw;
}