.queroAnunciar{
   height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    font-family: 'Inter', sans-serif;
}
.queroAnunciar3{
   height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    gap: 5vh;
    font-family: 'Inter', sans-serif;
}

.anunciarContainer{
    display: flex;
    flex-direction: column;
    gap: 20vh;
}

.queroAnunciar h1, .queroAnunciar3 h1{
    color: #AA6231;
    font-weight: 400;
    font-size: clamp(1.375rem, -0.1875rem + 5vw, 2.625rem);
    padding-left: 3vw;
}

.inputsAnunciar{
    display: flex;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
}

.inputsAnunciar2{
    justify-content: flex-start;
    gap: 5vw;
}

.dadosAnunciarContainer{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 20%;
}
.dadoAnuncio{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.dadoDoAnuncio{
    height: 5vh;
    border-radius: 5px;
    border: 1px solid #CECECE;
}

.sinopseAnuncio{
    width: 40%;
}

.sinopseAnuncio textarea{
    resize: none;
    border-radius: 5px;
    border: 1px solid #CECECE;
    height: 100%;
}

#continuarAnuncio{
    background-color: #AA6231;
    width: auto;
    color: #FFFF;
    display: grid;
    padding: .5% 3%;
    place-content: center;
    place-self: end;
    margin-right: 3vw;
}
#imagensEnviadas{
    width: 40px;
    height: 40px;
    background-color: #AA6231;
}

.uploadContainer{
    margin-left: 3vw;
}
  /* .submitButton {
    padding: 10px 20px;
    background-color: #DA6C27;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  input[type="file"]{
    display: none;
  }

  .labelArquivo{
    padding: 10px 20px;
    width: 200px;
    background-color: #333;
    color: #fff;
    display: grid;
    place-content: center;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 4px;
  }

  .imagensFile{
    width: 90vw;
    height: 25vh;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    margin-left: 3vw;
    margin-top: 5vh;
  }

  .imagem{
    width: 200px;
    height: 100%;
    background-color: #AA6231;
  } */


  #picture__input , #picture__input2, #picture__input3, #picture__input4{
    opacity: 0;
  }
  
  .picture , .picture2, .picture3{
    width: 300px;
    height: 350px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }

   .picture4{
    width: 200px;
    height: 200px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    border-radius: 1000px;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover, .picture2:hover, .picture3:hover, .picture4:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active, .picture2:active, .picture3:active, .picture4:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus, .picture2:focus, .picture3:focus, .picture4:focus{
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img, .picture__img2, .picture__img3, .picture__img4 {
    max-width: 100%;
  }

  .imagemLivro{
    width: 300px;
    height: 350px;
  }

  .dadosPersonalizados{
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
  }

  .dadosGenero {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
  }

  .check{
    margin-right: 4px;
  }

  .dadosPersonalizados p{
    font-weight: 500;
    font-size: clamp(1.125rem, 0.0976rem + 13.6986vw, 1.75rem);
    color: #2A2929;
  }
  
  .imagensContainer{
    display: flex;
  }

  .instrucaoImg{
    margin-left: 3vw;
    font-size: clamp(0.875rem, 0.0156rem + 2.75vw, 1.5625rem);
  }

  .fotos{
    display: flex;
  }

  .publicarButton{
    display: flex;
    float: left;
    margin-left: 3vw;
    background-color: #FF902B;
    width: fit-content;
    padding: .3% 4%;
    cursor: pointer;
    transition: .4s ease-in-out;
  }

  .publicarButton:hover{
    scale: .8;
  }

.componenteErro{
  display: grid;
  place-content: center;
  width: 100%;
}

.d-none{
  display: none;
}

.dadoInvisivel{
width: 1px;
height: 1px;
  border: .1px solid transparent;
  border-radius: 0;
}
  
@media (max-width:700px) {
    .queroAnunciar h1{
        width: 100%;
    }
    .inputsAnunciar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
       flex-direction: column;
    }

    .anunciarContainer{
        gap: 10vh;
    }

    .dadosAnunciarContainer{
        display: flex;
        flex-direction: column;
        gap: 2vh;
        width: 100%;
    }
    .sinopseAnuncio{
        width: 100%;
    }
    #continuarAnuncio{
        padding: 1% 5%;
    }

    .picture{
        width: 350px;
    }
    
}