.queroAnunciar{
   height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    font-family: 'Inter', sans-serif;
}

.anunciarContainer{
    display: flex;
    flex-direction: column;
    gap: 20vh;
}

.queroAnunciar h1{
    color: #AA6231;
    font-weight: 400;
    font-size: clamp(1.375rem, -0.1875rem + 5vw, 2.625rem);
    padding-left: 3vw;
}

.inputsAnunciar{
    display: flex;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
}

.inputsAnunciar2{
    justify-content: flex-start;
    gap: 5vw;
}

.dadosAnunciarContainer{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 20%;
}
.dadoAnuncio{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.dadoDoAnuncio{
    height: 5vh;
    border-radius: 5px;
    border: 1px solid #CECECE;
}

.sinopseAnuncio{
    width: 40%;
}

.sinopseAnuncio textarea{
    resize: none;
    border-radius: 5px;
    border: 1px solid #CECECE;
    height: 100%;
}

#continuarAnuncio{
    background-color: #AA6231;
    width: auto;
    color: #FFFF;
    display: grid;
    padding: .5% 3%;
    place-content: center;
    place-self: end;
    margin-right: 3vw;
}
#imagensEnviadas{
    width: 40px;
    height: 40px;
    background-color: #AA6231;
}

.uploadContainer{
    margin-left: 3vw;
    display: flex;
    gap: 4vw;
}
  .submitButton {
    padding: 10px 20px;
    background-color: #DA6C27;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  input[type="file"]{
    display: none;
  }

  .labelArquivo{
    padding: 10px 20px;
    width: 200px;
    background-color: #333;
    color: #fff;
    display: grid;
    place-content: center;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 4px;
  }

  .imagensFile{
    width: 90vw;
    height: 25vh;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    margin-left: 3vw;
    margin-top: 5vh;
  }

  .imagem{
    width: 200px;
    height: 100%;
    background-color: #AA6231;
  }
  
@media (max-width:700px) {
    .queroAnunciar h1{
        width: 100%;
    }
    .inputsAnunciar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
       flex-direction: column;
    }

    .anunciarContainer{
        gap: 10vh;
    }

    .dadosAnunciarContainer{
        display: flex;
        flex-direction: column;
        gap: 2vh;
        width: 100%;
    }
    .sinopseAnuncio{
        width: 100%;
    }
    #continuarAnuncio{
        padding: 1% 5%;
    }
    
}