.chat{
    display: flex;
    height: 92vh;
    overflow: hidden;
    width: 100vw;
    background-color: #FFFFFF;
}

.listachats{
    width: 25%;
    height: 100vh;
    background-color: #FFFF;
    overflow-y: auto;
}

.listachats button{
    width: 100%;
}
.chatMessage{
    width: 75%;
    flex-direction: column;
    border-left: 1.5px solid #E0E0E0;
}
.imagemPadraoDiv{
    width: 75%;
    border-left: 1.5px solid #E0E0E0;
    background-image: url('../img/planodefundo.jpeg');
}
.headerChatMessage{
    width: 100%;
    align-items: center;
    padding: 1%;
    padding-right: 5%;
    display: flex;
    gap: 43%;
    height: 11vh;
    border-bottom: 1.5px solid #E0E0E0;
}

.headerChats{
    background-color: #FFFFFF;
    padding: 1%;
    padding-right: 5%;
    height: 11vh;
    display: grid;
    place-content: center start;
    font-weight: bold;
    color: #AA6231;
    padding-left: 3%;
    font-size: clamp(0.875rem, -0.2188rem + 3.5vw, 1.75rem);
    border-bottom: 1.5px solid #E0E0E0;
}

.headerChatMessage p{
    font-weight: bold;
    font-size: clamp(0.875rem, -0.2188rem + 3.5vw, 1.75rem);
    color: #AA6231;
    padding-right: 10%;
}

.menu{
    transition: 1s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
}

.menu ul {
    display: none;
    transition: 1s ease-in-out;
}

.menu:hover ul {
    display: flex;
    flex-direction: column;
    
}

.listaDropdown{
    background-color: #E0E0E0;
    padding: 5px;
    display: flex;
    gap: 0;
    flex-direction: column;
}

.listaDropdown li{
    cursor: pointer;
    opacity: .6;
}
.listaDropdown li:hover{
    opacity: 1;
}

.fotoUsuarioChat{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid transparent;
}

.containerMensagens{
    padding: 1%;
    height: 80%;
    background-image: url('../img/planodefundo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    background-position: center;
}

.mensagemEnviarContainer{
    border: 1.5px solid #AA6231;
    padding: .8%;
    margin: 1%;
    width: 95%;
    display: flex;
    align-items: center;
    border-radius: 18px;
    justify-content: space-between;
}

.inputChat{
    width: 90%;
    border: none;
    outline: 0;
}

#galeriaFile{
    display: none;
}
.enviadaContainer{
    display: flex;
    float: right;
    flex-direction: column;
}
.enviada{
    display: flex;
    float: right;
    width: fit-content;
}

.iconEditarMensagem{
    cursor: pointer;
 display: none;
 padding: 2px;
}

.enviada:hover .iconEditarMensagem{
    display: flex;
}

.buttonCancelarMensagem{
    display: flex;
    float: left;
    color: #353535;
}

.d-none{
    display: none;
}

.verCancelado{
    font-size: 1.8rem;
}

.verCancelado:hover{
    font-weight: bold;
}



.mensagemRecebida {
    background-color: #F7F7F7;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    max-width: 30%;
    display: flex;
    align-items: end;
    flex-direction: column;
  }

  .mensagemRecebida p{
    width: 90%;
  }
  .mensagemEnviada p{
    width: 90%;
    flex-direction: column;
  }
  

  .mensagemEnviada {
    background-color: #DDA35D;
    color: #353535;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-left: 85%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }
  
.footerMensagens{
    display: flex;
    align-items: center;
}

.fotoDaMensagem{
    display: grid;
    place-self: center;
    width: 90%;
    height: 20vh;
    background-color: #AA6231;
}
.divTextoHora{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.btnDeletarMensagem{
    margin-left: 83%;
    font-size: 1.5rem;
    opacity: 1;
}

.chat{
    z-index: 0;
}

.divPreviewImage{
    z-index: 2;
    background-color: #F8F8FF;
    height: 30vh;
    width: 15vw;
    margin-left: 59%;
    position: fixed;
    padding: .5%;
    gap: 1vh;
    margin-top: 28.5%;
    border-radius: 20px;
    border: .8px solid #E7E7E7;
    flex-direction: column;
}

.divPreviewImage button{
    background-color: #E7E7E7;
    color: #45362E;
    width: fit-content;
    font-weight: bold;
    padding: 4% 6%;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    opacity: .5;
}

.divPreviewImage button:hover{
   scale: .9;
   opacity: 1;
}

.imgChatPreview{
    border-radius: 8px;
    height: 80%;
}

.scroll-to-bottom {
    animation: scrollAnimation 1s ease forwards;
  }

.checkboxesgeneros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2vh;
}

.checkGroup{
    display: flex;
    gap: 1vw;
}
  
  @keyframes scrollAnimation {
    to {
      scrollTop: 50vh; 
    }
  }


@media (max-width:600px) {
    .listachats{
        width: 15%;
        height: 100vh;
        background-color: #AA6231;
        overflow-x: hidden;

    }
    .chatMessage{
        width: 85%;
        flex-direction: column;
        border-left: 1.5px solid #E0E0E0;
    }

    .mensagemEnviarContainer{
        width: 100%;
        padding: 2%;
    }
    .fotoUsuarioChat{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid transparent;
    }

    .imagemPadraoDiv{
        width: 85%;
    }

    .mensagemRecebida {
        width: 90%;
    }

    .mensagemEnviada {
        width: 90%;
    }

    .divTextoHora{
        width: 100%;
    }
    
}