.Filtragem{
    display: flex;
    width: 100%;
    height: 8vh;
    font-family: 'Inter', sans-serif;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}



.menuLocalContainer{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.botaoMenu{
    border: none;
    background-color: transparent;
}

.nomeDaCidade{
    border: .7px solid black;
    border-radius: 15px;
    padding: 13px 20px;
    text-transform: uppercase;
}

.stackSearch{
    margin-right: 1vw;
}

.inputGroupSearch{
    margin-right: 4vw;
}

.sideBar{
    background-color: #FFFF;
    position: absolute;
    left: 0;
    top: 8vh;
    height: auto;
    width: 20vw;
}

.stackDigitarLocal{
    width: 70%;
}
.filtragemContainer, .livrosContainerSidebar, .generoContainer{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    border-bottom: .4px solid gray;
}

.filtragemContainer h1{
    font-weight: bold;
    font-size: clamp(1rem, -2.4615rem + 69.2308vw, 1.5625rem);
    color: #5C2C0C;
}

.iconLocal{
    margin-right: 20px;
}

.titleSection{
    color: #5C2C0C;
    font-size: clamp(0.75rem, -3.05rem + 80vw, 1rem);
    font-weight: bold;
}

.listaDeGeneros{
    display: flex;
    flex-direction: column;
}

.botaoQuantidadeListaGenero{
    width: fit-content;
    display: grid;
    place-self: end;
    grid-template-columns: 1fr .4fr;
}

@media (max-width:1600px) {
    .sideBar{
        width: 40vw;
    }
}

@media (max-width:720px) {
    img{
        padding-left: 0;
    }

    .stackSearch{
        margin-right: 0vw;
    }
    
    .inputGroupSearch{
        margin-right: 0vw;
    }

    .nomeDaCidade{
        padding: 5px 10px;
        font-size: .5rem;
    }
    .sideBar{
        width: 90vw;
    }

    .stackDigitarLocal{
        width: 80%;
    }
}