.Filtragem{
    display: flex;
    width: 100%;
    height: 8vh;
    font-family: 'Inter', sans-serif;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}



.menuLocalContainer{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.botaoMenu{
    border: none;
    background-color: transparent;
}

.nomeDaCidade{
    border: .7px solid black;
    border-radius: 15px;
    padding: 13px 20px;
    text-transform: uppercase;
}

.stackSearch{
    margin-right: 1vw;
}

.inputGroupSearch{
    margin-right: 4vw;
}
.privarRolagem{
    overflow-y: hidden;
}
.sideBar{
    background-color: #FFFF;
    position: absolute;
    left: 0;
    top: 8vh;
    min-height: calc(100vh - 108.4px);
    max-height: auto;
    width: 20vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.p-sidebar-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.filtragemContainer{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.livrosContainerSidebar, .generoContainer, .anoDoLivroContainer, .limparContainer{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: .4px solid gray;
}

.limparContainer button{
    width: fit-content;
    display: grid;
    place-self: center;
    padding: 4% 30%;
    border-radius: 8px;
    border: .5px solid #5C2C0C;
    font-size: 1.3rem;
    color: #5C2C0C;
}

.filtragemContainer h1{
    font-weight: bold;
    font-size: clamp(1rem, -2.4615rem + 69.2308vw, 1.5625rem);
    color: #5C2C0C;
}

.iconLocal{
    margin-right: 20px;
}

.titleSection{
    color: #5C2C0C;
    font-size: clamp(0.75rem, -3.05rem + 80vw, 1rem);
    font-weight: bold;
}

.listaDeGeneros{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.botaoQuantidadeListaGenero{
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.opcaoChecagem{
    color: #5C2C0C;
    font-weight: 500;
}



.no-matches{
    background-color: aqua;
    height: 40vh;
}




@media (max-width:1600px) {
    .sideBar{
        width: 40vw;
    }
}

@media (max-width:720px) {
    img{
        padding-left: 0;
    }

    .stackSearch{
        margin-right: 0vw;
    }
    
    .inputGroupSearch{
        margin-right: 0vw;
    }

    .nomeDaCidade{
        padding: 5px 10px;
        font-size: .5rem;
    }
    .sideBar{
        width: 90vw;
    }

    .stackDigitarLocal{
        width: 80%;
    }
}