.Header{
    background-color: #FFFF;
    width: 100%;
    height: 8vh;
    font-family: 'Inter', sans-serif;
    -webkit-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    box-shadow: 0 0 20px 0px rgba(211, 211, 211, 1);
    z-index: 1;
}

.headerLinksContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
       font-family: 'Inter', sans-serif;
}

.imgHeader{
    padding-left: 1vw;
}

.divborda{
    border: .5px solid darkgrey;
}


.link{
    cursor: pointer;
    transition: .3s ease-in-out;
    text-decoration: none;
    color: #1B1E23;
}

.userMenuContainer{
    display: flex;
    height: 100%;
}

.userMenuContainer .userMenu{
    display: grid;
    place-self: center;
    grid-template-columns: 1fr 1fr;
    padding-right: 1vw;
}

.link:hover{
    font-weight: 700;
}

ul{
    display: flex;
    gap: 2vw;
  }


.userProfileButton{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
}

.userMenuIcons{
    display: flex;
    align-self: center;
}


@media (max-width:520px) {
    .logo{
        padding-left: 0;
    }
    .userMenuContainer .userMenu{
        padding-right: 0;
    }
    .userProfileButton img{
        display: none;
    }


    ul li , .userProfileButton span{
        font-size: 13px;
    }

    .userProfileButton{
        width: fit-content;
    }
}