.Home{
    font-family: 'Inter', sans-serif;
}

.welcome-group{
    background-image: url(../img/background-your-welcome.png);
    width: 100%;
    height: 20vh;
    font-weight: bold;
    color: #ffff;
}

.welcome-group h1{
    padding-left: 2vw;
    padding-top: 14vh;
    font-size: clamp(1rem, -0.4844rem + 4.75vw, 2.1875rem);
}

.apresentacaoLivros{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-top: 2vh;
}

.apresentacaoLivros p{
    font-weight: 600;
    font-size: clamp(1.25rem, 0.5116rem + 3.3755vw, 1.75rem);
    color: #AA6231;
}
.apresentacaoLivros span{
    font-weight: lighter;
    font-size: clamp(0.75rem, -3.4167rem + 33.3333vw, 1rem);
}

.personagem-card{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    justify-content: space-between;
    width: 280px;
    -webkit-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    box-shadow: 0 0 20px 0px rgba(211, 211, 211, 1);
    height: 460px;
}

.imgLivro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
}

.imgLivro img{
    width: 160px;
    height: 215px;
}

.autorAno{
    color: #9F9898;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    gap: 8px;
}

.dataLancamento{
    border-left: 1px solid  darkgray;
    padding-left: 8px;
    color: #DDA35D;
}

.tipo{
    color: #AA6231;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.botaoLinkLivro{
    background-color: #FF902B;
    width: 150px;
    display: grid;
    place-self: end;
    font-weight: 600;
    transition: .4s ease-in-out;
}
.botaoContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}
.botaoLinkLivro:hover{
    scale: .9;
}

.sobreLivro{
    font-size: 16px;
}

.livrosContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    min-height: 45.15vh;
}

.secaoLivro{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-top: 2vh;
}

.tipoDeLivro{
    color: #7E7D7A;
    font-weight: 600;
    font-size: clamp(0.75rem, -0.4829rem + 16.4384vw, 1.5rem);
}

.containerEnderecoFav{
    margin-top: 8px;
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
}

.containerEnderecoFav p{
    margin-top: 8px;
    color: #808080;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.containerEnderecoFav img{
    margin-top: 8px;
}

.nenhumFav{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #9F9898;
    font-size: clamp(1rem, -0.4844rem + 4.75vw, 2.1875rem);
}

.nenhumFav p:nth-child(1){
  color: #AA6231;
}

.maisProximos, .mostrarMenos{
    display: grid;
    place-self: end;
    margin-right: 5vw;
}

.d-none{
    display: none;
}

.fazerLoginButton{
    font-weight: bold;
    padding-top: 10%;
}

.fotos{
    height: 30vh;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.fotos img{
    width: 100%;
    height: 100%;
}
.slider{
    font-size: clamp(1rem, -0.4844rem + 4.75vw, 3.5875rem);
}


.fotos {
    position: relative;
  }
  
  .slide-item {
    position: relative;
  }
  
  .fotos h1 {
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #FFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  
/* .foto1{
    background: url('../img/background-your-welcome.png');
}

.foto2{
    background: url('../img/biblioteca1.avif');
}

.foto3{
    background: url('../img/biblioteca-universitaria.jpg');
}

.foto4{
    background: url('../img/bibliotecaEscura.jpeg');
} */


@media (max-width:1200px) {
    .personagem-card{
        width: 25vw;
    }
}

@media (max-width:1000px) {
    .personagem-card{
        width: 30vw;
    }
}
@media (max-width:600px) {
    .personagem-card{
        width: 60vw;
    }

    .livrosContainer{
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:400px) {
    .personagem-card{
        width: 80vw;
    }


}