.anuncioDados, .descricaoContainer{
    height: auto;
    display: flex;
    margin-top: 6vh;
    flex-direction: column;
}

.imgLivroDiv{
    display: flex;
}
.descricaoContainer{
    margin-left: 4vw;
    gap: 2vh;
}
.fotoAnuncio{
    width: 3%;
    height: 30vh;
    margin-left: 4vw;
    margin-bottom: 4vh;
}
.descricaoContainer p{
    width: 80%;
    text-align: justify;
}

.titleContainerDesc{
    font-size: clamp(1rem, -0.0274rem + 13.6986vw, 1.625rem);
}

.dadosAnuncioPrincipal{
    background-color: #ffff;
    width: 20%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    box-shadow: 0 0 20px 0px rgba(211, 211, 211, 1);
    margin-right: 10%;
}

.esquerdaDadosAnuncio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #404040;
    padding: 2%;
    height: 100%;
}
.esquerdaDadosAnuncio p:nth-child(1){
    font-weight: 700;
    border-bottom: .3px solid #706f6f;
    width: 100%;
    margin-bottom: 2%;
    font-size: clamp(1rem, -0.0274rem + 13.6986vw, 1.625rem);
    padding-bottom: 1%;
}

.direitaDadosAnuncio{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
    padding: 2%;
}

.messageButton{
    background-color: #FF902B;
    width: 100%;
    padding: 1% 10%;
}

.anuncianteDados{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.dadosLivro{
    width: auto;
    display: flex;
    flex-direction: column;
}

.dadoLivro{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 600;
}

.dadoLivro p{
    margin-left: 10vw;
    color: #7E7D7A;
}

.editortrashicon{
    width: 50%;
}
.botoesEditarMenuLocalContainer{
    display: flex;
    width: 7vw;
    justify-content: space-between ;
}

.botoesEditarMenuLocalContainer button{
    width: 4vw;
}

.dadosEditar{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.containerUpload {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
}
.containerUpload div{
    margin-left: 0;
}
.editarAnuncioButton{
    background-color: #FF902B;
    display: grid;
    place-self: end;
    width: 10vw;
    color: aliceblue;
    padding: 1% 0%;
    font-weight: bold;
    transition: .4s ease-in-out;
    letter-spacing: 3px;
}

.editarAnuncioButton:hover{
    scale: .8;
}


.divLivroCarrossel{
    display: flex ;
    width: 33%;
    margin-left: 4vw;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.showLivro{
    padding: 4%;
    border: .8px solid #929292;
    border-radius: 8px;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgBtn{
    height: 100px;
    height: 100px;
    border: 2px solid #E6E6E6;
    padding: 5.5%;
    transition: .5s ease-in-out;
}

.imgBtn:hover{
    scale: .9;
}

.livrosAparecer{
    display: flex;
    gap: 2vh;
    flex-direction: column;
}

.imgGrande{
    width: 15vw;
    height: 35vh;
}

.dadosDoAnuncio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 4vw;
}

.butonContainerMeuAnuncio{
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.esquerdaDadosAnuncio button{
    padding: 4% 0;
    border-radius: 8px;
    font-size: clamp(0.875rem, 0.25rem + 2vw, 1.375rem);
    transition: .3s ease-in-out;
}


.esquerdaDadosAnuncio button:hover{
    scale: .9;
}
.esquerdaDadosAnuncio button:nth-child(1){
    border: 1px solid #AA6231;
    color: #AA6231;
}

.esquerdaDadosAnuncio button:nth-child(2){
    background-color: #5C2C0C;
    color: #ffff;
}

.disponivelPara{
    color: #404040;
    font-weight: bold;
    font-size: clamp(1rem, -0.0274rem + 13.6986vw, 1.625rem);
}
@media (max-width:700px) {
    .dadosAnuncioPrincipal{
        flex-direction: column;
    }
    .direitaDadosAnuncio, .esquerdaDadosAnuncio{
        width: 100%;
    }
    .esquerdaDadosAnuncio p:nth-child(1){
        width: 100%;
    }

    .descricaoContainer p{
        width: 95%;
    }

    .fotoAnuncio{
        width: 50vw;
        height: 30vh;
        margin-left: 25vw;
        margin-bottom: 4vh;
    }

    .botoesEditarMenuLocalContainer{
        display: flex;
        width: 20vw;
        justify-content: space-between ;
    }
    .botoesEditarMenuLocalContainer button{
        width: 20vw;
    }
    .editortrashicon{
        width: 80%;
    }
}