.anuncioDados, .descricaoContainer{
    height: auto;
    display: flex;
    margin-top: 6vh;
    flex-direction: column;
}

.descricaoContainer{
    margin-left: 4vw;
    gap: 2vh;
}

.descricaoContainer p{
    width: 80%;
    text-align: justify;
}

.titleContainerDesc{
    font-size: clamp(1rem, -0.0274rem + 13.6986vw, 1.625rem);
}

.dadosAnuncioPrincipal{
    background-color: #ffff;
    width: 90vw;
    height: auto;
    display: flex;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    box-shadow: 0 0 20px 0px rgba(211, 211, 211, 1);
    margin-left: 4vw;
}

.esquerdaDadosAnuncio{
    width: 60%;
    display: flex;
    flex-direction: column;
    color: #404040;
    padding: 2%;
}
.esquerdaDadosAnuncio p:nth-child(1){
    font-weight: 700;
    border-bottom: .3px solid #706f6f;
    width: 60%;
    margin-bottom: 2%;
    font-size: clamp(1rem, -0.0274rem + 13.6986vw, 1.625rem);
    padding-bottom: 1%;
}

.direitaDadosAnuncio{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2vh;
    padding: 2%;
}

.messageButton{
    background-color: #FF902B;
    padding: 1% 10%;
}

.anuncianteDados{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.dadosLivro{
    width: auto;
    display: flex;
    flex-direction: column;
}

.dadoLivro{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 600;
}

.dadoLivro p{
    margin-left: 10vw;
    color: #7E7D7A;
}

@media (max-width:700px) {
    .dadosAnuncioPrincipal{
        flex-direction: column;
    }
    .direitaDadosAnuncio, .esquerdaDadosAnuncio{
        width: 100%;
    }
    .esquerdaDadosAnuncio p:nth-child(1){
        width: 100%;
    }

    .descricaoContainer p{
        width: 95%;
    }
}