.loginModal{
    background-color: rgba(10,23,55,0.5);
z-index: 2;
position: absolute;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}


.containerLogin, .codigoRecuperacao{
    z-index: 3;
    opacity: 1;
    background-color: #FFFF;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

.botaoFecharModalLogin{
    width: auto;
    height: auto;
    display: grid;
    place-self: start;
   color: #AA6231;
   font-weight: bolder;
   margin: 15px 0px 0px 15px;
   transition: .2s ease-in-out;
}
.botaoFecharModalLogin:hover{
   scale: 1.3;
}

.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vh;
}

.textoLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-top: 4%;
}

.forgotPassword{
    display: grid;
    place-self: end;
}

.formLogin h1{
    font-weight: bold;
    font-size: clamp(1rem, 0.5946rem + 2.1622vw, 1.25rem);
}

.formLogin h4{
    font-weight: 500;
    font-size: clamp(0.8125rem, -0.0182rem + 3.7975vw, 1rem);
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.imgLogin{
    height: 100%;
}

.imgLogin img{
    height: 100%;
}

.buttonLogar{
    background-color: #AA6231;
    padding: 4% 20%;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #FFFF;
}

.solicitandoConta{
    font-weight: 600;
}

.linkCadastreAqui{
    color: #AA6231;
}

@media (max-width:1000px) {

    .containerLogin, .codigoRecuperacao {
        justify-content: center;
        width: 75vw;
        height: 75vh;
    }
    .imgLogin{
        display: none;
    }
}

@media (max-width:600px) {

    .containerLogin, .codigoRecuperacao {
        width: 90vw;
        height: 90vh;
    }

    .imgTitle h1{
        text-align: center;
    }

}