.loginModal{
    background-color: rgba(10,23,55,0.5);
z-index: 2;
position: absolute;
height: 100%;
width: 100vw;
}


.containerLogin{
    z-index: 3;
    opacity: 1;
    background-color: #FFFF;
    width: 50%;
    margin-top: 25vh;
    margin-left: 25%;
    display: flex;
    height: 60vh;
}

