.meuPerfi, .configContainer, .meusFav, .livroContainer{
   background-color: #F5F5F5;
   min-height: 92vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   font-family: 'Inter', sans-serif;
}

.sideBarContainer{
    display: flex;
    width: 100%;
    height: 8vh;
    font-family: 'Inter', sans-serif;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 2% 
    1%;
}

.card-favorito{
    width: 500px;
    height: 300px;
    display: flex;
    background-color: #ffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.img-livro_favorito{
    height: 100%;
    width: 230px;
}

.nome_favorito{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tipo_favorito{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 12px 0px;
}

.container-conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
}

.botaoLinkLivro_favorito{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.botaoContainer_favorito{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 126px;
    height: 48px;
    border-radius: 64px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
    background-color: #FF902B;
}

.perfilContent{
    min-height: 83.7vh;
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw 0 5vw;
    gap: 3vh;
}

.contentPerfil{
    display: flex;
    justify-content: space-between;
}

.perfilContent_title{
    font-weight: 500;
    font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
}

.resumoPerfil{
    background-color: #FFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 2vh;
    padding: 30px;
    -webkit-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    box-shadow: 0 0 20px 0px rgba(211, 211, 211, 1);
}

.perfilUsuario{
    display: flex;
    align-items: center;
    gap: 4vw;
}

.perfilUsuario img{
    border-radius: 200px;
}

.fotoUser{
    border-radius: 50%;
}

.perfilUsuario p{
    color: #AA6231;
    font-weight: 600;
    font-size: clamp(1rem, -0.4063rem + 4.5vw, 2.125rem);
}

.resumoPerfil h3{
    color: #7E7D7A;
    font-size: clamp(1rem, 0.5313rem + 1.5vw, 1.375rem);
    font-weight: 600;
}

.dadosUser{
    display: flex;
    flex-direction: column;
    color: #7E7D7A;
    font-weight: 600;
    font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
    gap: 1vh;
}

.dadosUser span{
    display: flex;
    gap: 1vw;
    align-items: center;
}

.generoDiv{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.generoDiv h1{
    color: #AA6231;
    font-size: clamp(1.125rem, 0.0313rem + 3.5vw, 2rem);
    font-weight: 600;
}

.containerCategorias{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    gap: 1vh;
}

.dadosUserSideBar{
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    gap: 2vh;
    padding-top: 5vh;
}

.nomeFotoUser{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

.nomeFotoUser p{
    font-weight: 400;
    font-size: clamp(1.125rem, 0.5rem + 2vw, 1.625rem);
}

.sideBarConfig{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2vw;
    gap: 2vh;

}

.linksConfig{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titleConfigSidebar{
    color: #9F9898;
}

.link{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.botaoLogOut{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 4vh;
}

.bold{
    font-weight: 800;
}

.fotoUser{
    width: 132px;
    height: 132px;
}



.configContent{
    min-height: 84vh;
    display: flex;
    padding: 5vh 5vw 0 5vw;
    gap: 3vh;
    justify-content: space-between;
}

.tabelaConfigDados{
    background-color: #ffff;
    height: 60vh;
    border-radius: 15px;
    width: 50vw;
    -webkit-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    box-shadow: 0 0 20px 0px rgba(211, 211, 211, 1);
}

.contentUserDireita{
    align-items: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
}

.userContainerDireita, .userContainerDireitaLink{
    background-color: #FFFF;
    -webkit-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    -moz-box-shadow: 0 0 0px 0px rgba(211, 211, 211, 1);
    box-shadow: 0 0 20px 0px rgba(211, 211, 211, 1);
    width: fit-content;
}

.userContainerDireita{
    padding: 40px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 20vw;
}

.userContainerDireitaLink{
    width: 20vw;
    padding: 40px 0;
    display: grid;
    place-content: center;
    color: #AA6231;
    font-weight: 600;
    border-radius: 8px;
    font-size: clamp(0.875rem, 0.4063rem + 1.5vw, 1.25rem);
}

.titleConfigDados{
    border-bottom: 1px solid #CECECE;
}

.titleConfigDados h3{
    padding: 3%;
    font-weight: 500;
    color: #AA6231;
    font-size: clamp(1.125rem, 0.5rem + 2vw, 1.625rem);
}
.inputContainer{
    display: flex;
    gap: 20%;
    margin-left: 3%;
}
.inputGroup{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    font-size: clamp(0.875rem, 0.4063rem + 1.5vw, 1.25rem);
}

.inputGroup input{
    border-bottom: 1px solid #7E7D7A;
}

.userContainerDireita :nth-child(1){
    color: #AA6231;
    font-size: clamp(0.875rem, 0.25rem + 2vw, 1.375rem);
    font-weight: 600;
}

.userContainerDireita :nth-child(3){
    font-weight: 600;
    font-size: clamp(0.875rem, 0.4063rem + 1.5vw, 1.25rem);
}

.editarConfig{
    margin-top: 10vh;
    border: 1px solid #AA6231;
    margin-left: 3%;
    padding: 1% 8%;
    color: #AA6231;
    font-weight: 600;
    font-size: clamp(0.875rem, 0.4063rem + 1.5vw, 1.25rem);
    border-radius: 8px;
    transition: .4s ease-in-out;
}

.editarConfig:hover{
    scale: .8;
}

.desejaEditarDiv{
    margin-left: 3%;
    margin-top: 3%;
    flex-direction: column;
    gap: 3vh;
}

.botoesEditarOpcao{
    display: flex;
    gap: 3vw;
}
.botoesEditarOpcao button{
    transition: .4s ease-in-out;
}
.botoesEditarOpcao button:hover{
    scale: .8;
}

.botoesEditarOpcao button:nth-child(1){
    background-color: #AA6231;
    padding: 1% 3%;
    border-radius: 5px;
    color: #F5F5F5
}

.botoesEditarOpcao button:nth-child(2){
    border: 1px solid #AA6231;
    padding: 1% 3%;
    border-radius: 5px;
    color: #ae1010;
    font-weight: 600;
}

.meuAnuncioTitle{
    padding-left: 3vw;
    padding-top: 3vh;
    font-size: clamp(1.5625rem, 0.2344rem + 4.25vw, 2.625rem);
    font-weight: 500;
    color: #474747;
}

.excluirButton{
    color: #ae1010;
}

#motivo{
    margin-top: 1vh;
    font-weight: bold;
}

.tabelaConfigDados{
    height: 70vh;
}

.fotoIconPequeno{
    border: 1px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 12px;
}

@media (max-width:1500px) {
        .tabelaConfigDados{
            height: 75vh;
        }
}

@media (max-width:1400px) {
    .tabelaConfigDados{
       width: 80vw;
    }
}
@media (max-width:1000px) {
    .contentPerfil, .configContent{
        flex-direction: column;
        justify-content: flex-start;
        gap: 2vh;
    }
    .resumoPerfil{
        width: 95%;
    }
    .containerCategorias{
        width: 70vw;
    }

    .tabelaConfigDados{
        width: 90vw;
        height: 40vh;
    }

    .userContainerDireita{
        flex-direction: row;
        width: 90vw;
    }

    .userContainerDireita p:nth-child(1){
        display: none;
    }

    .contentUserDireita, .userContainerDireitaLink{
        width: 90vw;
    }
}

@media (max-width:600px) {
    .tabelaConfigDados{
        height: 50vh;
    }

    .contentUserDireita{
        height: 25vh;
    }
}